{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <h3>{{ summary.added }}</h3>
    <article>
        <ul>
            <li>Goal: {{ summary.dailyGoal }}</li>
            <li>Progress: {{ summary.dailyProgress }}</li>
            <li>Completion: {{ summary.completion }}</li>
            <li>
                    <a href="{{ path('page_player_hydration_summary_edit', {date: summary.added}) }}" title="">
                        Edit
                    </a>
            </li>
        </ul>
    </article>

    <h4>Intakes</h4>
    <ul>
        <li><a href="{{ path('page_player_hydration_intake_add_for_date', {date: summary.added}) }}" title="">Add Water Intake</a></li>
    </ul>
    {% for intake in summary.intakes %}
        <article>
            <ul>
                <li>Volume: {{ intake.volume }}</li>
                <li>
                    <a href="{{ path('page_player_hydration_intake_delete_for_date', {date: summary.added, intakeId: intake.id}) }}" title="">
                        Delete
                    </a>
                </li>
            </ul>
        </article>
    {% endfor %}
{% endblock %}