{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <ul>
        <li><a href="{{ path('page_player_hydration_intake_for_today') }}" title="">Add Water Intake</a></li>
    </ul>

    <div>
        <h3>Moods</h3>
        <a href="{{ path('page_player_mood_add', {redirect: 'page_player_dashboard'}) }}" title="">Add Mood</a>
        {% for mood in moods %}
            <article>
                {{ mood.level }} - {{ mood.description }}
            </article>
        {% endfor %}
    </div>

    <div>
        <h3>Activity</h3>
        <a href="{{ path('page_player_activity_add', {redirect: 'page_player_dashboard'}) }}" title="">Add Activity</a>
        {% for activity in activities %}
            <article>
                {{ activity.title }}
            </article>
        {% endfor %}
    </div>

    <div>
        <h3>Hydration</h3>
        <a href="{{ path('page_player_hydration_intake_for_today', {redirect: 'page_player_dashboard'}) }}" title="">Add Water Intake</a>
        <h4>
            {{ hydrationSummary.dailyProgress }} / {{ hydrationSummary.dailyGoal }} ({{ hydrationSummary.completion }})
        </h4>

        {% for intake in hydrationSummary.intakes %}
            <article>
                {{ intake.volume }}
            </article>
        {% endfor %}
    </div>
{% endblock %}