<article>
    <header class="row">
        <div class="col">
            <h5>
                <a href="{{ path('page_player_workout_details', {workoutId: workout.id}) }}" title="">
                    {{ workout.title }} <span>[{{ workout.status }}]</span>
                </a>
            </h5>
        </div>
        <div class="col-auto">
            <ul>
                {% if workout.status == constant('App\\Domain\\Registry\\TheCoach\\WorkoutStatusRegistry::STATUS_PLANNED')
                    or workout.status == constant('App\\Domain\\Registry\\TheCoach\\WorkoutStatusRegistry::STATUS_OVERDUE') %}
                    <li>
                        <form action="{{ path('page_player_workout_start', {workoutId: workout.id}) }}" method="POST">
                            <input type="submit" value="Start">
                        </form>
                    </li>
                {% endif %}
                {% if workout.status == constant('App\\Domain\\Registry\\TheCoach\\WorkoutStatusRegistry::STATUS_IN_PROGRESS') %}
                    <li>
                        <a href="{{ path('page_player_workout_train', {workoutId: workout.id}) }}" title="">
                            Resume
                        </a>
                    </li>
                {% endif %}
                <li>Edit</li>
                <li>
                    <a href="{{ path('page_player_workout_delete', {workoutId: workout.id, redirect: app.request.get('_route')}) }}" title="">
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div>

    </div>
    <footer>
        {{ workout.plannedDate }}
    </footer>
</article>