{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div>
        <a href="{{ path('page_player_weight_add') }}" title="">Add new Weight</a>
    </div>
    {% for weight in weights %}
        <article>
            <ul>
                <li>
                    <a href="{{ path('page_player_weight_edit', {weightId: weight.id}) }}" title="">
                        Id: {{ weight.id }}</a>
                </li>
                <li>Weight: {{ weight.weight }}</li>
                <li>User: {{ weight.userId }}</li>
                <li>
                    <ul>
                        <li>
                            <a href="{{ path('page_player_weight_edit', {weightId: weight.id}) }}" title="">Edit</a>
                        </li>
                        <li>
                            <a href="{{ path('page_player_weight_delete', {weightId: weight.id}) }}" title="">Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
    {% endfor %}
{% endblock %}