{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    {{ form_start(form) }}
    <div>
        Movement
        {{ form_widget(form.movement) }}
    </div>

    <br />

    <div>
        Target Reps
        {{ form_widget(form.targetReps) }}
    </div>
    <div>
        Target Weight
        {{ form_widget(form.targetWeight) }}
    </div>
    <div>
        Target Duration
        {{ form_widget(form.targetDuration) }}
    </div>
    <div>
        Target Distance
        {{ form_widget(form.targetDistance) }}
    </div>

    <br />

    <div>
        Completed Reps
        {{ form_widget(form.completedReps) }}
    </div>
    <div>
        Completed Weight
        {{ form_widget(form.completedWeight) }}
    </div>
    <div>
        Completed Duration
        {{ form_widget(form.completedDuration) }}
    </div>
    <div>
        Completed Distance
        {{ form_widget(form.completedDistance) }}
    </div>

    <br />

    <div>
        Rest
        {{ form_widget(form.restDuration) }}
    </div>

    <div>
        Set type
        {{ form_widget(form.setType) }}
    </div>

    <br />

    <div>
        <div>
            <a href="{{ path('page_player_workout_details', {workoutId: workoutId, redirect: redirect}) }}" class="button cancel-color">Cancel</a>
            <button type="submit" class="button action-color">Save</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}