{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <article>
        <header>
            <h3>
                {{ workout.title }}
            </h3>
            <ul>
                {% if workout.startedDate is null %}
                    <li>Start</li>
                {% endif %}
                <li>Edit</li>
                <li>
                    <a href="{{ path('page_player_workout_delete', {workoutId: workout.id, redirect: 'page_player_workouts_planned'}) }}" title="">
                        Delete
                    </a>
                </li>
            </ul>
        </header>

        {% include 'player/the-coach/components/_workout_details_exercises.html.twig' with {workout: workout} %}
    </article>
    <aside>
        <div>
            <ul>
                <li>Planned: {{ workout.plannedDate ?? 'not yet!' }}</li>
                <li>Completed: {{ workout.completedDate ?? 'not yet!' }}</li>
            </ul>
        </div>
    {% if workout.routineId is not null %}
        <div>
                Created from routine: {{ workout.routineTitle }} ({{ workout.routineId }})
        </div>
    {% endif %}
    </aside>
{% endblock %}