{% extends 'admin/base-admin.html.twig' %}

{% block page_content %}
    <div>
        {{ form_start(form) }}
        <div>
            Name
            {{ form_widget(form.name) }}
        </div>
        <div>
            <button type="submit" class="button action-color">Search</button>
        </div>
        {{ form_end(form) }}
    </div>

    <div>
        <a href="{{ path('page_admin_equipment_add') }}" title="">Add new Equipment</a>
    </div>


    {% for equipment in equipments %}
        <article>
            <h3>{{ equipment.name }}</h3>
        </article>
    {% endfor %}
{% endblock %}