<a href="{{ path('page_player_home') }}" title="">Home</a>
<ul>
    <li><a href="{{ path('page_player_dashboard') }}" title="">Dahboard</a></li>
    <li>Body Tracher
        <ul>
            <li><a href="{{ path('page_player_sleeps_for_current_user') }}" title="">Sleep</a></li>
            <li><a href="{{ path('page_player_weights_for_current_user') }}" title="">Weight</a></li>
        </ul>
    </li>
    <li>Mind Tracker
        <ul>
            <li><a href="{{ path('page_player_moods_for_current_user') }}" title="">Mood</a></li>
        </ul>
    </li>
    <li>Hydration Tracker
        <ul>
            <li><a href="{{ path('page_player_hydration_summaries_for_current_user') }}" title="">Hydration</a></li>
        </ul>
    </li>
    <li>Activity Tracker
        <ul>
            <li><a href="{{ path('page_player_activities_for_current_user') }}" title="">Activities</a></li>
        </ul>
    </li>
</ul>